.newsStyle:hover {
    transform: scale(1.01) !important;
    overflow: hidden !important;
    box-shadow: 0 2px 2px 3px rgba(175, 138, 185, 0.561) !important;
    border-radius: 2rem;
    
  }



  .box{
    display: flex;
    margin-top: 0.6rem;
    border-radius: 2rem;
    flex-direction: column;
    justify-content: center;
    background-color:rgb(32, 32, 32);
    
}

